/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3/box";
@import "compass/css3/box-sizing";
@import "compass/css3/user-interface";
@import "compass/css3/transform";

$container-bg: #FF7302;
$container-fg: #FFFFFF;

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  @include user-select("none");
}

div#listWithBracket {
  overflow: hidden;
  @include display-box;

  ul#frameworkList {
    list-style: none;
    margin: 0 0 0 5px;
  }

  span.bracket {
    @include display-box;
    @include box-pack("center");
    @include box-align("center");
    @include box-sizing("border-box");
  }
}

div#masterContainer {
  height: 100%;
  width: 100%;
  div.container {
    background-color: $container-bg;
    @include display-box;
    @include box-pack("center");
    @include box-align("center");
    @include box-sizing("border-box");
    height: 100%;
    width: 100%;
    color: $container-fg;
  }
}

div.box {
  //transform: translateZ( -288px ) rotateY( -160deg );
  @include rotateY(-180deg);
  background-color: green;
  height: 200px;
  width: 200px;
}
