/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 13, ../sass/screen.scss */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 20, ../sass/screen.scss */
span.bracket {
  font-size: 3em;
  vertical-align: middle;
}

/* line 25, ../sass/screen.scss */
ul#frameworkList {
  list-style: none;
  margin: 0 0 0 5px;
}

/* line 29, ../sass/screen.scss */
div#masterContainer {
  height: 100%;
  width: 100%;
}
/* line 32, ../sass/screen.scss */
div#masterContainer div.container {
  background-color: #ff7302;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: white;
}
